body {
    background-image: url(../images/bacground.jpg);
    background-size: 100%;
    text-align: center;
    color: aliceblue;

}

.container {
    margin-top: 40px;
    background-color: rgba(231, 240, 248, 0.425);
    height: 600px;
    border-radius: 4px;
}

span {
    background-color: rgb(65, 93, 252);
    padding: 5px;
}