body {
    background-image: url(../images/bacground.jpg);
    background-size: 100%;
    text-align: center;
    color: aliceblue;

}

.container {
    margin-top: 40px;
    background-color: rgba(231, 240, 248, 0.425);
    height: 600px;
    border-radius: 4px;
}

span {
    background-color: rgb(65, 93, 252);
    padding: 5px;
}

#start {
    background-color: rgb(4, 24, 136);
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 180px;
}

.option {
    background-color: rgb(4, 24, 136);
    margin: 0 auto;
    width: 400px;
    padding: 8px;
    border-radius: 4px;
    margin-top: 30px;
}

.gif-image {
    height: 300px;
    margin-top: 30px;
}

.scoreBox {
    height: 50px;
    width: 80px;
    background-color: black;
    float: left;
}