body {
    background-image: url(../images/bacground.jpg);
    background-size: 100%;
    text-align: center;
    color: aliceblue;

}

.container {
    margin-top: 40px;
    background-color: rgba(231, 240, 248, 0.425);
    height: 600px;
    border-radius: 4px;
}



#start {
    background-color: rgb(4, 24, 136);
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 180px;
}
#start:hover { 
    background-color: rgba(4, 24, 136, 0.644);
}

.option {
    background-color: rgb(4, 24, 136);
    margin: 0 auto;
    width: 400px;
    padding: 8px;
    border-radius: 4px;
    margin-top: 30px;
}
.option:hover { 
    background-color: rgba(4, 24, 136, 0.644);
}

.gif-image {
    height: 300px;
    margin-top: 30px;
}

#scoreBox {
    height: 58px;
    width: 83px;
    background-color: rgba(231, 240, 248, 0.425);
    float: left;
    margin-left: 20px;
    border-radius: 4px;
}